
        <!-- Sidebar  -->
    <div class="wrapper mt-5">
        <nav id="sidebar" class="bg-secondary">
    
            <ul class="list-unstyled components">
                <li id='create' class="pt-5 pb-5 ">
                    <img src="/images/aduser.PNG" height="100px" width="100px">
                    <a href="/users/home">Add User</a>
                </li>
                <li id='view'>
                    <img src="/images/seuser.PNG" height="100px" width="100px">
                    <a href="/users/viewUsers">View All Users</a>
                </li>
            </ul>
    
        </nav>