html,
body {
  height: 100%;
}
body {
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: white;
}
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin input[type="number"] {
  margin-bottom: 20px;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
}

.signupform
{
  align-content: center;
}